h1 {
    text-align: center;
    color:turquoise;
    font: x-large;
}

h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

body {
    padding-top: 65px; 
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  form  {
      background-color: steelblue;
      color: white;
      padding-left: 20px;
      padding-right: 20px;
  }

  h4    {
      color: steelblue;
      size: sml;
  }
